apiVersion: v1
kind: Namespace
metadata:
  annotations:
    openshift.io/description: "{{ openshift_test_project_description }}"
    openshift.io/display-name: " {{ openshift_test_project_display_name }}"
    openshift.io/requester: admin
  name: {{ openshift_test_project_name }}
spec:
  finalizers:
  - openshift.io/origin
  - kubernetes
status:
  phase: Active
