apiVersion: v1
kind: Namespace
metadata:
  annotations:
    openshift.io/description: "{{ openshift_app_description }} - Test Environment"
    openshift.io/display-name: " {{ openshift_app_display_name }} - Test"
    openshift.io/requester: admin
  name: {{ openshift_app_name }}-test
spec:
  finalizers:
  - openshift.io/origin
  - kubernetes
status:
  phase: Active
